selfserviceadminlogicappflowdefinition.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Access_Token_Response_Type": {
                "inputs": {
                    "content": "@body('Get_Access_Token')",
                    "schema": {
                        "properties": {
                            "access_token": {
                                "type": "string"
                            },
                            "expires_in": {
                                "type": "integer"
                            },
                            "ext_expires_in": {
                                "type": "integer"
                            },
                            "token_type": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Get_Access_Token": [
                        "SUCCEEDED"
                    ]
                },
                "trackedProperties": {},
                "type": "ParseJson"
            },
            "Call_Delta_Query": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('Access_Token_Response_Type')?['access_token']}"
                    },
                    "method": "GET",
                    "uri": "@body('DeltaUrl_Response_Type')?['url']"
                },
                "runAfter": {
                    "Access_Token_Response_Type": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "Create_or_update_item": {
                "inputs": {
                    "parameters": {
                        "containerId": "deltas",
                        "databaseId": "applications",
                        "isUpsert": true,
                        "item": "{ \"id\": \"0\", \"url\" : \"@{body('Delta_Query_Response_Type')?['@odata.deltaLink']}\" }"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "CreateOrUpdateDocument",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {
                    "Iterate_through_Delta_App_Registrations": [
                        "SUCCEEDED",
                        "TIMEDOUT",
                        "SKIPPED",
                        "FAILED"
                    ]
                },
                "type": "ServiceProvider"
            },
            "DeltaUrl_Response_Type": {
                "inputs": {
                    "content": "@body('Read_DeltaUrl_from_Cosmos')?['content']",
                    "schema": {
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Read_DeltaUrl_from_Cosmos": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ParseJson"
            },
            "Delta_Query_Response_Type": {
                "inputs": {
                    "content": "@body('Call_Delta_Query')",
                    "schema": {
                        "properties": {
                            "@@odata.context": {
                                "type": "string"
                            },
                            "@@odata.deltaLink": {
                                "type": "string"
                            },
                            "value": {
                                "items": {
                                    "properties": {
                                        "appId": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "requiredResourceAccess": {
                                            "items": {
                                                "properties": {
                                                    "resourceAccess": {
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "id",
                                                                "type"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "resourceAppId": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "resourceAppId",
                                                    "resourceAccess"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "requiredResourceAccess"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Call_Delta_Query": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ParseJson"
            },
            "Get_Access_Token": {
                "inputs": {
                    "body": "client_id={{CLIENT_ID}}2&scope=https://graph.microsoft.com/.default&grant_type=client_credentials&client_secret={{CLIENT_SECRET}}",
                    "headers": {
                        "content-type": "application/x-www-form-urlencoded"
                    },
                    "method": "POST",
                    "uri": "https://login.microsoftonline.com/{{TENANT_ID}}/oauth2/v2.0/token"
                },
                "runAfter": {
                    "DeltaUrl_Response_Type": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "Initalize_appRoleAssignments": {
                "inputs": {
                    "variables": [
                        {
                            "name": "appRoleAssignments",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_RequiredResourceAccessArray": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Delta_Service_Principal_Id": {
                "inputs": {
                    "variables": [
                        {
                            "name": "deltaServicePrincipalId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_OauthPermissionSet": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_OauthPermissionSet": {
                "inputs": {
                    "variables": [
                        {
                            "name": "OAuthPermissionSet",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_appId_for_consumed_App_Reg": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_RequiredResourceAccessArray": {
                "inputs": {
                    "variables": [
                        {
                            "name": "RequiredResourceAccessArray",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Delta_Query_Response_Type": [
                        "SUCCEEDED"
                    ]
                },
                "trackedProperties": {},
                "type": "InitializeVariable"
            },
            "Initialize_appId_for_consumed_App_Reg": {
                "inputs": {
                    "variables": [
                        {
                            "name": "appIdForPermissions",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initalize_appRoleAssignments": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Iterate_through_Delta_App_Registrations": {
                "actions": {
                    "GET_appRoleAssignments_for_ServicePrincipal": {
                        "inputs": {
                            "headers": {
                                "Authorization": "Bearer @{body('Access_Token_Response_Type')?['access_token']}"
                            },
                            "method": "GET",
                            "uri": "https://graph.microsoft.com/v1.0/servicePrincipals/@{body('ServicePrincipal_Details_Type')?['value'][0]['id']}/appRoleAssignments?$select=appRoleId"
                        },
                        "runAfter": {
                            "Set_Delta_Service_Principal_Id": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "trackedProperties": {},
                        "type": "Http"
                    },
                    "Get_Service_Principal_Details": {
                        "inputs": {
                            "headers": {
                                "Authorization": "Bearer @{body('Access_Token_Response_Type')?['access_token']}"
                            },
                            "method": "GET",
                            "uri": "https://graph.microsoft.com/v1.0/servicePrincipals?$filter=appId eq '@{item()?['appId']}'"
                        },
                        "runAfter": {
                            "Set_requiredResourceAccessArray": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "Http"
                    },
                    "Iterate_through_configured_OAuth_permissions_for_App_Registration": {
                        "actions": {
                            "Iterate_through_individual_permission_requests": {
                                "actions": {
                                    "Condition": {
                                        "actions": {
                                            "Post_adaptive_card_and_wait_for_a_response": {
                                                "inputs": {
                                                    "body": {
                                                        "body": {
                                                            "messageBody": "{    \"type\": \"AdaptiveCard\",    \"$schema\": \"https://adaptivecards.io/schemas/adaptive-card.json\",    \"padding\": \"none\",    \"body\": [        {            \"type\": \"Container\",            \"style\": \"emphasis\",            \"items\": [                {                    \"type\": \"ColumnSet\",                    \"columns\": [                        {                            \"type\": \"Column\",                            \"items\": [                                {                                    \"type\": \"TextBlock\",                                    \"size\": \"large\",                                    \"text\": \"**PENDING APPROVAL for @{item()?['id']}**\"                                }                            ],                            \"width\": \"stretch\"                        },                        {                            \"type\": \"Column\",                            \"verticalContentAlignment\": \"center\",                            \"items\": [                                {                                    \"type\": \"Image\",                                    \"url\": \"https://qms3.blob.core.windows.net/test/servicenow.png\",                                    \"height\": \"20px\",                                    \"altText\": \"Service Now Logo\"                                }                            ],                            \"width\": \"auto\"                        }                    ]                }            ]        },        {            \"type\": \"Container\",            \"padding\": \"default\",            \"spacing\": \"None\",            \"items\": [                {                    \"type\": \"ColumnSet\",                    \"columns\": [                        {                            \"type\": \"Column\",                            \"verticalContentAlignment\": \"center\",                            \"items\": [                                {                                    \"type\": \"Image\",                                    \"style\": \"Person\",                                    \"url\": \"https://qms3.blob.core.windows.net/test/servicenow_avatar.jpg\",                                    \"width\": \"40px\",                                    \"altText\": \"Grant Hulbert's Profile Picture\"                                }                            ],                            \"width\": \"auto\"                        },                        {                            \"type\": \"Column\",                            \"verticalContentAlignment\": \"center\",                            \"items\": [                                {                                    \"type\": \"TextBlock\",                                    \"size\": \"Medium\",                                    \"text\": \"Requested by **Grant Hulbert**\",                                    \"wrap\": true                                },                                {                                    \"type\": \"TextBlock\",                                    \"spacing\": \"None\",                                    \"text\": \"grant.hulbert@servicenow.com\",                                    \"isSubtle\": true                                }                            ],                            \"width\": \"stretch\"                        }                    ]                },                {                    \"type\": \"Container\",                    \"spacing\": \"large\",                    \"items\": [                        {                            \"type\": \"ColumnSet\",                            \"columns\": [                                {                                    \"type\": \"Column\",                                    \"items\": [                                        {                                            \"type\": \"Image\",                                            \"url\": \"https://c.s-microsoft.com/en-us/CMSImages/Surface_Book_Home_1_HeroFullBleed_V1.jpg?version=37221e90-d06c-f330-9107-d9ff7371a200\",                                            \"altText\": \"Microsoft Surface Book Image\"                                        }                                    ],                                    \"width\": 1                                },                                {                                    \"type\": \"Column\",                                    \"items\": [                                        {                                            \"type\": \"TextBlock\",                                            \"size\": \"Medium\",                                            \"weight\": \"Bolder\",                                            \"wrap\": true,                                            \"text\": \"Microsoft Surface Book\"                                        },                                        {                                            \"type\": \"TextBlock\",                                            \"spacing\": \"None\",                                            \"color\": \"accent\",                                            \"size\": \"large\",                                            \"text\": \"$1,499.00\"                                        },                                        {                                            \"type\": \"TextBlock\",                                            \"wrap\": true,                                            \"text\": \"Request id: [REQ0010044](https://www.microsoft.com/en-us/surface/devices/surface-book/overview)\"                                        },                                        {                                            \"type\": \"TextBlock\",                                            \"spacing\": \"None\",                                            \"wrap\": true,                                            \"text\": \"Details: Requesting a test device\"                                        }                                    ],                                    \"width\": 1                                }                            ]                        }                    ]                },                {                    \"type\": \"ActionSet\",                    \"spacing\": \"large\",                    \"actions\": [                        {                            \"type\": \"Action.Submit\",                            \"title\": \"Approve\",                            \"id\": \"btnApprove\"                         },                        {                            \"type\": \"Action.Submit\",                            \"title\": \"Reject\",                            \"id\": \"btnReject\"                         }                    ]                }            ]        }    ],    \"version\": \"1.0\"}",
                                                            "recipient": {
                                                                "to": "admin@MngEnvMCAP884881.onmicrosoft.com"
                                                            },
                                                            "updateMessage": "Thanks for your response!"
                                                        },
                                                        "notificationUrl": "@{listCallbackUrl()}"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "referenceName": "teams"
                                                        }
                                                    },
                                                    "path": "/v1.0/teams/conversation/gatherinput/poster/@{encodeURIComponent('Flow bot')}/location/@{encodeURIComponent('Chat with Flow bot')}/$subscriptions"
                                                },
                                                "type": "ApiConnectionWebhook"
                                            },
                                            "Teams_Approval_Condition": {
                                                "actions": {
                                                    "Grant_AppRoleAssignment": {
                                                        "inputs": {
                                                            "body": {
                                                                "appRoleId": "@{item()?['id']}",
                                                                "principalId": "@{variables('appIdForPermissions')}",
                                                                "resourceId": "@{variables('deltaServicePrincipalId')}"
                                                            },
                                                            "headers": {
                                                                "Authorization": "Bearer @{body('Access_Token_Response_Type')?['access_token']}"
                                                            },
                                                            "method": "POST",
                                                            "uri": "https://graph.microsoft.com/v1.0/servicePrincipals/@{variables('appIdForPermissions')}/appRoleAssignments"
                                                        },
                                                        "runtimeConfiguration": {
                                                            "contentTransfer": {
                                                                "transferMode": "Chunked"
                                                            }
                                                        },
                                                        "type": "Http"
                                                    }
                                                },
                                                "else": {
                                                    "actions": {}
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "equals": [
                                                                "@body('Post_adaptive_card_and_wait_for_a_response')?['submitActionId']",
                                                                "btnApprove"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "runAfter": {
                                                    "Post_adaptive_card_and_wait_for_a_response": [
                                                        "SUCCEEDED"
                                                    ]
                                                },
                                                "type": "If"
                                            }
                                        },
                                        "else": {
                                            "actions": {}
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "not": {
                                                        "contains": [
                                                            "@variables('appRoleAssignments')",
                                                            "@item()?['id']"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "equals": [
                                                        "@item()?['type']",
                                                        "Role"
                                                    ]
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    }
                                },
                                "foreach": "@variables('OAuthPermissionSet')",
                                "runAfter": {
                                    "Set_OauthPermissionSet": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "runtimeConfiguration": {
                                    "concurrency": {
                                        "repetitions": 1
                                    }
                                },
                                "type": "Foreach"
                            },
                            "Parse_JSON": {
                                "inputs": {
                                    "content": "@item()",
                                    "schema": {
                                        "properties": {
                                            "resourceAccess": {
                                                "items": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "type"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "resourceAppId": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "ParseJson"
                            },
                            "Set_OauthPermissionSet": {
                                "inputs": {
                                    "name": "OAuthPermissionSet",
                                    "value": "@body('Parse_JSON')?['resourceAccess']"
                                },
                                "runAfter": {
                                    "Set_appId_for_consumed_App_Reg": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "type": "SetVariable"
                            },
                            "Set_appId_for_consumed_App_Reg": {
                                "inputs": {
                                    "name": "appIdForPermissions",
                                    "value": "@body('Parse_JSON')?['resourceAppId']"
                                },
                                "runAfter": {
                                    "Parse_JSON": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "type": "SetVariable"
                            }
                        },
                        "foreach": "@variables('RequiredResourceAccessArray')",
                        "runAfter": {
                            "Set_appRoleAssignments": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "concurrency": {
                                "repetitions": 1
                            }
                        },
                        "type": "Foreach"
                    },
                    "Parse_appRoleAssignments_Type": {
                        "inputs": {
                            "content": "@body('GET_appRoleAssignments_for_ServicePrincipal')?['value']",
                            "schema": {
                                "items": {
                                    "properties": {
                                        "appRoleId": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "appRoleId"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "runAfter": {
                            "GET_appRoleAssignments_for_ServicePrincipal": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "ParseJson"
                    },
                    "ServicePrincipal_Details_Type": {
                        "inputs": {
                            "content": "@body('Get_Service_Principal_Details')",
                            "schema": {
                                "properties": {
                                    "@@odata.context": {
                                        "type": "string"
                                    },
                                    "value": {
                                        "items": {
                                            "properties": {
                                                "accountEnabled": {
                                                    "type": "boolean"
                                                },
                                                "addIns": {
                                                    "type": "array"
                                                },
                                                "alternativeNames": {
                                                    "type": "array"
                                                },
                                                "appDescription": {},
                                                "appDisplayName": {
                                                    "type": "string"
                                                },
                                                "appId": {
                                                    "type": "string"
                                                },
                                                "appOwnerOrganizationId": {
                                                    "type": "string"
                                                },
                                                "appRoleAssignmentRequired": {
                                                    "type": "boolean"
                                                },
                                                "appRoles": {
                                                    "type": "array"
                                                },
                                                "applicationTemplateId": {},
                                                "createdDateTime": {
                                                    "type": "string"
                                                },
                                                "deletedDateTime": {},
                                                "description": {},
                                                "disabledByMicrosoftStatus": {},
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "homepage": {},
                                                "id": {
                                                    "type": "string"
                                                },
                                                "info": {
                                                    "properties": {
                                                        "logoUrl": {},
                                                        "marketingUrl": {},
                                                        "privacyStatementUrl": {},
                                                        "supportUrl": {},
                                                        "termsOfServiceUrl": {}
                                                    },
                                                    "type": "object"
                                                },
                                                "keyCredentials": {
                                                    "type": "array"
                                                },
                                                "loginUrl": {},
                                                "logoutUrl": {},
                                                "notes": {},
                                                "notificationEmailAddresses": {
                                                    "type": "array"
                                                },
                                                "oauth2PermissionScopes": {
                                                    "type": "array"
                                                },
                                                "passwordCredentials": {
                                                    "type": "array"
                                                },
                                                "preferredSingleSignOnMode": {},
                                                "preferredTokenSigningKeyThumbprint": {},
                                                "replyUrls": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "resourceSpecificApplicationPermissions": {
                                                    "type": "array"
                                                },
                                                "samlSingleSignOnSettings": {},
                                                "servicePrincipalNames": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "servicePrincipalType": {
                                                    "type": "string"
                                                },
                                                "signInAudience": {
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "tokenEncryptionKeyId": {},
                                                "verifiedPublisher": {
                                                    "properties": {
                                                        "addedDateTime": {},
                                                        "displayName": {},
                                                        "verifiedPublisherId": {}
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "deletedDateTime",
                                                "accountEnabled",
                                                "alternativeNames",
                                                "appDisplayName",
                                                "appDescription",
                                                "appId",
                                                "applicationTemplateId",
                                                "appOwnerOrganizationId",
                                                "appRoleAssignmentRequired",
                                                "createdDateTime",
                                                "description",
                                                "disabledByMicrosoftStatus",
                                                "displayName",
                                                "homepage",
                                                "loginUrl",
                                                "logoutUrl",
                                                "notes",
                                                "notificationEmailAddresses",
                                                "preferredSingleSignOnMode",
                                                "preferredTokenSigningKeyThumbprint",
                                                "replyUrls",
                                                "servicePrincipalNames",
                                                "servicePrincipalType",
                                                "signInAudience",
                                                "tags",
                                                "tokenEncryptionKeyId",
                                                "samlSingleSignOnSettings",
                                                "addIns",
                                                "appRoles",
                                                "info",
                                                "keyCredentials",
                                                "oauth2PermissionScopes",
                                                "passwordCredentials",
                                                "resourceSpecificApplicationPermissions",
                                                "verifiedPublisher"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Get_Service_Principal_Details": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "ParseJson"
                    },
                    "Set_Delta_Service_Principal_Id": {
                        "inputs": {
                            "name": "deltaServicePrincipalId",
                            "value": "@{item()?['id']}"
                        },
                        "runAfter": {
                            "ServicePrincipal_Details_Type": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Set_appRoleAssignments": {
                        "inputs": {
                            "name": "appRoleAssignments",
                            "value": "@body('Parse_appRoleAssignments_Type')"
                        },
                        "runAfter": {
                            "Parse_appRoleAssignments_Type": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Set_requiredResourceAccessArray": {
                        "inputs": {
                            "name": "RequiredResourceAccessArray",
                            "value": "@item()?['requiredResourceAccess']"
                        },
                        "type": "SetVariable"
                    }
                },
                "foreach": "@body('Delta_Query_Response_Type')?['value']",
                "runAfter": {
                    "Initialize_Delta_Service_Principal_Id": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 1
                    }
                },
                "trackedProperties": {},
                "type": "Foreach"
            },
            "Read_DeltaUrl_from_Cosmos": {
                "inputs": {
                    "parameters": {
                        "containerId": "deltas",
                        "databaseId": "applications",
                        "itemId": "0",
                        "partitionKey": "0"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "ReadDocument",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {},
                "trackedProperties": {},
                "type": "ServiceProvider"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Month",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        }
    },
    "kind": "Stateful"
}