selfservicegrantorchestration.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Call_Delta_Query_Response_Type": {
                "inputs": {
                    "content": "@body('Call_ServicePrincipals_Delta_Query')",
                    "schema": {
                        "properties": {
                            "@@odata.context": {
                                "type": "string"
                            },
                            "@@odata.deltaLink": {
                                "type": "string"
                            },
                            "value": {
                                "items": {
                                    "properties": {
                                        "appId": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "requiredResourceAccess": {
                                            "items": {
                                                "properties": {
                                                    "resourceAccess": {
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "id",
                                                                "type"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "resourceAppId": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "resourceAppId",
                                                    "resourceAccess"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "requiredResourceAccess"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Call_ServicePrincipals_Delta_Query": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ParseJson"
            },
            "Call_ServicePrincipals_Delta_Query": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('Get_Access_Token_For_MS_Graph_Response_Type')?['access_token']}"
                    },
                    "method": "GET",
                    "uri": "@body('DeltaUrl_Response_Type')?['url']"
                },
                "runAfter": {
                    "Get_Access_Token_For_MS_Graph_Response_Type": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "Create_or_update_item": {
                "inputs": {
                    "parameters": {
                        "containerId": "deltas",
                        "databaseId": "applications",
                        "isUpsert": true,
                        "item": "{ \"id\": \"0\", \"url\" : \"@{body('Call_Delta_Query_Response_Type')?['@odata.deltaLink']}\" }"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "CreateOrUpdateDocument",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {
                    "Iterate_through_Delta_App_Registrations": [
                        "SUCCEEDED",
                        "TIMEDOUT",
                        "SKIPPED",
                        "FAILED"
                    ]
                },
                "type": "ServiceProvider"
            },
            "DeltaUrl_Response_Type": {
                "inputs": {
                    "content": "@body('Read_Applications_DeltaUrl_from_Cosmos')?['content']",
                    "schema": {
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Read_Applications_DeltaUrl_from_Cosmos": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ParseJson"
            },
            "Get_Access_Token_For_MS_Graph_Response_Type": {
                "inputs": {
                    "content": "@body('Get_Access_Token_for_MS_Graph')",
                    "schema": {
                        "properties": {
                            "access_token": {
                                "type": "string"
                            },
                            "expires_in": {
                                "type": "integer"
                            },
                            "ext_expires_in": {
                                "type": "integer"
                            },
                            "token_type": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Get_Access_Token_for_MS_Graph": [
                        "SUCCEEDED"
                    ]
                },
                "trackedProperties": {},
                "type": "ParseJson"
            },
            "Get_Access_Token_for_MS_Graph": {
                "inputs": {
                    "body": "client_id={{CLIENT_ID}}&scope=https://graph.microsoft.com/.default&grant_type=client_credentials&client_secret={{CLIENT_SECRET}}",
                    "headers": {
                        "content-type": "application/x-www-form-urlencoded"
                    },
                    "method": "POST",
                    "uri": "https://login.microsoftonline.com/{{TENANT_ID}}/oauth2/v2.0/token"
                },
                "runAfter": {
                    "DeltaUrl_Response_Type": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "Initalize_appRoleAssignments": {
                "inputs": {
                    "variables": [
                        {
                            "name": "appRoleAssignments",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_RequiredResourceAccessArray": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Delta_Service_Principal_Id": {
                "inputs": {
                    "variables": [
                        {
                            "name": "deltaServicePrincipalId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_OauthPermissionSet": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_OauthPermissionSet": {
                "inputs": {
                    "variables": [
                        {
                            "name": "OAuthPermissionSet",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_appId_for_consumed_App_Reg": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_RequiredResourceAccessArray": {
                "inputs": {
                    "variables": [
                        {
                            "name": "RequiredResourceAccessArray",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Call_Delta_Query_Response_Type": [
                        "SUCCEEDED"
                    ]
                },
                "trackedProperties": {},
                "type": "InitializeVariable"
            },
            "Initialize_appId_for_consumed_App_Reg": {
                "inputs": {
                    "variables": [
                        {
                            "name": "appIdForPermissions",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initalize_appRoleAssignments": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Iterate_through_Delta_App_Registrations": {
                "actions": {
                    "GET_appRoleAssignments_for_ServicePrincipal": {
                        "inputs": {
                            "headers": {
                                "Authorization": "Bearer @{body('Get_Access_Token_For_MS_Graph_Response_Type')?['access_token']}"
                            },
                            "method": "GET",
                            "uri": "https://graph.microsoft.com/v1.0/servicePrincipals/@{body('ServicePrincipal_Details_Type')?['value'][0]['id']}/appRoleAssignments?$select=appRoleId"
                        },
                        "runAfter": {
                            "Set_Delta_Service_Principal_Id": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "trackedProperties": {},
                        "type": "Http"
                    },
                    "Get_Service_Principal_Details": {
                        "inputs": {
                            "headers": {
                                "Authorization": "Bearer @{body('Get_Access_Token_For_MS_Graph_Response_Type')?['access_token']}"
                            },
                            "method": "GET",
                            "uri": "https://graph.microsoft.com/v1.0/servicePrincipals?$filter=appId eq '@{item()?['appId']}'"
                        },
                        "runAfter": {
                            "Set_requiredResourceAccessArray": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "trackedProperties": {},
                        "type": "Http"
                    },
                    "Iterate_through_configured_OAuth_permissions_for_App_Registration": {
                        "actions": {
                            "Iterate_through_individual_permission_requests": {
                                "actions": {
                                    "Condition": {
                                        "actions": {
                                            "Get_Owner": {
                                                "inputs": {
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('Get_Access_Token_For_MS_Graph_Response_Type')?['access_token']}"
                                                    },
                                                    "method": "GET",
                                                    "uri": "https://graph.microsoft.com/v1.0/servicePrincipals/@{body('Query_MS_Graph_for_SP_ObjectId_to_Grant_AppRole__')?['value'][0]['id']}/owners"
                                                },
                                                "runtimeConfiguration": {
                                                    "contentTransfer": {
                                                        "transferMode": "Chunked"
                                                    }
                                                },
                                                "type": "Http"
                                            },
                                            "Invoke_Admin_Grant_Review_Workflow": {
                                                "inputs": {
                                                    "body": {
                                                        "appRoleId": "@{item()?['id']}",
                                                        "owner": "@{body('Get_Owner')?['value'][0]['userPrincipalName']}",
                                                        "principalId": "@{variables('deltaServicePrincipalId')}",
                                                        "resourceId": "@{body('Query_MS_Graph_for_SP_ObjectId_to_Grant_AppRole__')?['value'][0]['id']}"
                                                    },
                                                    "host": {
                                                        "workflow": {
                                                            "id": "admin-grant-review-workflow"
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Get_Owner": [
                                                        "SUCCEEDED"
                                                    ]
                                                },
                                                "type": "Workflow"
                                            }
                                        },
                                        "else": {
                                            "actions": {}
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "not": {
                                                        "contains": [
                                                            "@variables('appRoleAssignments')",
                                                            "@item()?['id']"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "equals": [
                                                        "@item()?['type']",
                                                        "Role"
                                                    ]
                                                }
                                            ]
                                        },
                                        "trackedProperties": {},
                                        "type": "If"
                                    }
                                },
                                "foreach": "@variables('OAuthPermissionSet')",
                                "runAfter": {
                                    "Query_MS_Graph_for_SP_ObjectId_to_Grant_AppRole__": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "runtimeConfiguration": {
                                    "concurrency": {
                                        "repetitions": 1
                                    }
                                },
                                "type": "Foreach"
                            },
                            "Parse_JSON": {
                                "inputs": {
                                    "content": "@item()",
                                    "schema": {
                                        "properties": {
                                            "resourceAccess": {
                                                "items": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "type"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "resourceAppId": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "ParseJson"
                            },
                            "Query_MS_Graph_for_SP_ObjectId_to_Grant_AppRole__": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('Get_Access_Token_For_MS_Graph_Response_Type')?['access_token']}"
                                    },
                                    "method": "GET",
                                    "uri": "https://graph.microsoft.com/v1.0/servicePrincipals?$filter=appId eq '@{variables('appIdForPermissions')}'"
                                },
                                "runAfter": {
                                    "Set_OauthPermissionSet": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                },
                                "type": "Http"
                            },
                            "Set_OauthPermissionSet": {
                                "inputs": {
                                    "name": "OAuthPermissionSet",
                                    "value": "@body('Parse_JSON')?['resourceAccess']"
                                },
                                "runAfter": {
                                    "Set_appId_for_AppRole_App_Registration": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "type": "SetVariable"
                            },
                            "Set_appId_for_AppRole_App_Registration": {
                                "inputs": {
                                    "name": "appIdForPermissions",
                                    "value": "@body('Parse_JSON')?['resourceAppId']"
                                },
                                "runAfter": {
                                    "Parse_JSON": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "type": "SetVariable"
                            }
                        },
                        "foreach": "@variables('RequiredResourceAccessArray')",
                        "runAfter": {
                            "Set_appRoleAssignments": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "concurrency": {
                                "repetitions": 1
                            }
                        },
                        "type": "Foreach"
                    },
                    "Parse_appRoleAssignments_Type": {
                        "inputs": {
                            "content": "@body('GET_appRoleAssignments_for_ServicePrincipal')?['value']",
                            "schema": {
                                "items": {
                                    "properties": {
                                        "appRoleId": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "appRoleId"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "runAfter": {
                            "GET_appRoleAssignments_for_ServicePrincipal": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "ParseJson"
                    },
                    "ServicePrincipal_Details_Type": {
                        "inputs": {
                            "content": "@body('Get_Service_Principal_Details')",
                            "schema": {
                                "properties": {
                                    "@@odata.context": {
                                        "type": "string"
                                    },
                                    "value": {
                                        "items": {
                                            "properties": {
                                                "accountEnabled": {
                                                    "type": "boolean"
                                                },
                                                "addIns": {
                                                    "type": "array"
                                                },
                                                "alternativeNames": {
                                                    "type": "array"
                                                },
                                                "appDescription": {},
                                                "appDisplayName": {
                                                    "type": "string"
                                                },
                                                "appId": {
                                                    "type": "string"
                                                },
                                                "appOwnerOrganizationId": {
                                                    "type": "string"
                                                },
                                                "appRoleAssignmentRequired": {
                                                    "type": "boolean"
                                                },
                                                "appRoles": {
                                                    "type": "array"
                                                },
                                                "applicationTemplateId": {},
                                                "createdDateTime": {
                                                    "type": "string"
                                                },
                                                "deletedDateTime": {},
                                                "description": {},
                                                "disabledByMicrosoftStatus": {},
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "homepage": {},
                                                "id": {
                                                    "type": "string"
                                                },
                                                "info": {
                                                    "properties": {
                                                        "logoUrl": {},
                                                        "marketingUrl": {},
                                                        "privacyStatementUrl": {},
                                                        "supportUrl": {},
                                                        "termsOfServiceUrl": {}
                                                    },
                                                    "type": "object"
                                                },
                                                "keyCredentials": {
                                                    "type": "array"
                                                },
                                                "loginUrl": {},
                                                "logoutUrl": {},
                                                "notes": {},
                                                "notificationEmailAddresses": {
                                                    "type": "array"
                                                },
                                                "oauth2PermissionScopes": {
                                                    "type": "array"
                                                },
                                                "passwordCredentials": {
                                                    "type": "array"
                                                },
                                                "preferredSingleSignOnMode": {},
                                                "preferredTokenSigningKeyThumbprint": {},
                                                "replyUrls": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "resourceSpecificApplicationPermissions": {
                                                    "type": "array"
                                                },
                                                "samlSingleSignOnSettings": {},
                                                "servicePrincipalNames": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "servicePrincipalType": {
                                                    "type": "string"
                                                },
                                                "signInAudience": {
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "tokenEncryptionKeyId": {},
                                                "verifiedPublisher": {
                                                    "properties": {
                                                        "addedDateTime": {},
                                                        "displayName": {},
                                                        "verifiedPublisherId": {}
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "deletedDateTime",
                                                "accountEnabled",
                                                "alternativeNames",
                                                "appDisplayName",
                                                "appDescription",
                                                "appId",
                                                "applicationTemplateId",
                                                "appOwnerOrganizationId",
                                                "appRoleAssignmentRequired",
                                                "createdDateTime",
                                                "description",
                                                "disabledByMicrosoftStatus",
                                                "displayName",
                                                "homepage",
                                                "loginUrl",
                                                "logoutUrl",
                                                "notes",
                                                "notificationEmailAddresses",
                                                "preferredSingleSignOnMode",
                                                "preferredTokenSigningKeyThumbprint",
                                                "replyUrls",
                                                "servicePrincipalNames",
                                                "servicePrincipalType",
                                                "signInAudience",
                                                "tags",
                                                "tokenEncryptionKeyId",
                                                "samlSingleSignOnSettings",
                                                "addIns",
                                                "appRoles",
                                                "info",
                                                "keyCredentials",
                                                "oauth2PermissionScopes",
                                                "passwordCredentials",
                                                "resourceSpecificApplicationPermissions",
                                                "verifiedPublisher"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Get_Service_Principal_Details": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "ParseJson"
                    },
                    "Set_Delta_Service_Principal_Id": {
                        "inputs": {
                            "name": "deltaServicePrincipalId",
                            "value": "@{body('Get_Service_Principal_Details')?['value'][0]['id']}"
                        },
                        "runAfter": {
                            "ServicePrincipal_Details_Type": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Set_appRoleAssignments": {
                        "inputs": {
                            "name": "appRoleAssignments",
                            "value": "@body('Parse_appRoleAssignments_Type')"
                        },
                        "runAfter": {
                            "Parse_appRoleAssignments_Type": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Set_requiredResourceAccessArray": {
                        "inputs": {
                            "name": "RequiredResourceAccessArray",
                            "value": "@item()?['requiredResourceAccess']"
                        },
                        "trackedProperties": {},
                        "type": "SetVariable"
                    }
                },
                "foreach": "@body('Call_ServicePrincipals_Delta_Query')?['value']",
                "runAfter": {
                    "Initialize_Delta_Service_Principal_Id": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 1
                    }
                },
                "trackedProperties": {},
                "type": "Foreach"
            },
            "Read_Applications_DeltaUrl_from_Cosmos": {
                "inputs": {
                    "parameters": {
                        "containerId": "deltas",
                        "databaseId": "applications",
                        "itemId": "0",
                        "partitionKey": "0"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "ReadDocument",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {},
                "trackedProperties": {},
                "type": "ServiceProvider"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Month",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        }
    },
    "kind": "Stateful"
}